<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv" xml:lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, shrink-to-fit=no">
  <title>Svenska jargongfilen</title>
  <style>
   html {
     margin: auto;
     max-width: 42em;
     font-family: sans-serif;
     font-size: 16px;
     line-height: 1.5;
   }

   img {
     max-width: 100%;
     display: block;
   }

   code {
     background-color: #e6e6e6;
   }

   pre {
     font-family: monospace;
     font-size: 16px;
     padding: 0.5em 0.5em;
     white-space: pre-wrap;
   }

   :link {
     color: #0000ff;
     text-decoration: none;
   }
   :visited {
     color: #990099;
     text-decoration: none;
   }
   a:hover {
     text-decoration: underline;
   }

   /* show clickable/shareable fragment link (#) on hover */
   a.fragmentlink {
     display: none;
   }
   h1:hover a.fragmentlink,
   h2:hover a.fragmentlink,
   h3:hover a.fragmentlink,
   h4:hover a.fragmentlink {
     display: inline;
   }

   hr {
     border: 0;
     height: 1px;
     background: #000;
   }

   @media (prefers-color-scheme: dark) {
     html {
       background: #222;
       color: #eee;
     }

     code {
       background-color: #373737;
     }

     :link {
       color: lightblue;
     }
     :visited {
       color: #fd00fd;
     }

     hr {
       border: 0;
       height: 1px;
       background: #fff;
     }
   }

   /* mark offsite links */
   a[href^="http"]:after {
     content: "↗";
   }
  </style>
</head>

<body>
  <article>
{{.html}}
  </article>
</body>

</html>
